.footer{
    @include desktop-only {
       @include flexbox(row, space-around, center, wrap);
       padding: 1rem;
      }
    background-color: $dark-grey;
    color: $color-white;
    padding: 1rem 1rem 2rem 1rem;
    margin: 0;
    width: calc(100% - 2rem);

    &__link {
    @include flexbox (row, space-between, center, nowrap);
    @include desktop-only{ 
        font-size: 1.2rem;
        margin: 0 1rem ;
        }
    color: $color-white;
    font-weight: 500;
    font-size: 1rem;
    color: $color-white;
    margin: 1rem 0 0 0;
    padding: 0;
        &:hover{
            @include desktop-only{
                transform: scale(1.25);
                transition-duration: 200ms;
            }
        }
    }
}