header {
        @include flexbox(row, flex-end, center, unset);
        padding: 1rem;
    .menu
    {
        color: black;
        font-size: 1.5rem;
        margin-right: 2rem;
     a
        {
        @include desktop-only {margin: 0;}
        font-family: 'Shrikhand';
        text-align: center;
        flex: 1;
        margin: 0;
        }
    }
}
