    .btn-resa {
        @include box-shadow(20%);
        font-size : 1rem;
        font-weight: 500;
        margin: 2rem 0;
        padding: 1rem;
        border-radius: 3rem;
        border: none;
        background: linear-gradient(175deg, $color-secondary, $color-primary);
        color: $color-white;
        position: relative;
        cursor: pointer;
        &:hover { 
            @include box-shadow(50%);
            position: relative;
            border-radius: 3rem;
            background: linear-gradient(175deg, lighten($color-secondary,5) 0%, lighten($color-primary,5) 100%);
        }
        
    }
    .btn-cmd{
        @include box-shadow(20%);
        font-size : 1rem;
        font-weight: 500;
        margin: 2rem;
        padding: 0.5rem 2rem;
        border-radius: 3rem;
        border: none;
        background: linear-gradient(175deg, $color-secondary, $color-primary);
        color: $color-white ;
        position: relative;
        cursor: pointer;
        z-index: 1;
        &:hover { 
            @include box-shadow(50%);
            position: relative;
            border-radius: 3rem;
            background: linear-gradient(175deg, lighten($color-secondary,10%) 0%, lighten($color-primary,10%) 100%);
        }
    }