.item
{       @include flexbox (column, space-around, center, unset);
        @include layout-cards;
        margin: 1rem;
        background-color: $color-secondary;
        padding: 1rem;
        width: calc(33% - 6rem);
        max-height: 25rem;
        
        &__link        {   
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
            position: relative;
            color: $color-primary;

        }

        &__title
        {
            @include flexbox (row, space-between, center, nowrap);
            margin: 0;
            padding: 0 0 1rem 0;
        }
        
        &__picture{

            width: calc(100% - 2rem);
            max-height: 15rem;
            margin: 0 1rem;
            object-fit: cover;
            position: relative;
            @include desktop-only {
                height: 40rem;
            }
                
        }
        &__price{


        }

        &__descript{


        }

}