.load {
    &er{
    @include flexbox (column, center, center, unset);
    position: fixed;
    width: 100%;
    height: 100%;
    background: $light-grey;
    animation: fadeout 5s forwards;
    cursor: wait;
    }
    &__img {
        display: flex;
        width: 20rem;
        height: 20rem;
        animation: cloche 5s ease-in-out alternate infinite;
        position: relative;  
    }
    &__spinner {    
        border: 5px solid $color-primary;
        border-top: 5px solid $color-tertiary;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 5s ease-in-out;
        animation-iteration-count: 3;
    }    
      
}


@keyframes fadeout { 
   0% {
        opacity: 1;
        z-index: 1;
    }
    70%{
        opacity: 1;
        z-index: 1;
    }    
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cloche {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }