body {
    font-family: 'Roboto', Arial, Verdana, sans-serif;
}

h1{
    font-family: 'Shrikhand';
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
    font-weight: 900;
}
h3{
    font-size: 1.2rem;
}
.title{
    font-family: 'Shrikhand';
}