body {
    font-family: 'Roboto', Arial, Verdana, sans-serif;
}

h1{
    font-family: 'Shrikhand';
    font-size: 2.5rem;
    margin: 0.5rem;
    padding: 0;
    width: 100%;
}
h2{
    font-size: 1.7rem;
    font-weight: 900;
    margin: 0.5rem;
    padding: 0;
}
h3{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
.title{
    font-family: 'Shrikhand';
}