	.page{

		margin: -5rem 0 0 0;
	    border-radius: 3rem 3rem 0 0;
	    background-color: $light-grey;
	    padding: 0 1rem 1rem 1rem;
	    @include tablet{
	    	    margin: -5rem 3rem 0 3rem;
	    		padding: 0 2rem 2rem 2rem;
	    }
	    @include desktop-only{
	    	    margin: -5rem 5rem 0 5rem;
	    		padding: 0 3rem 3rem 3rem;
	    }

		&__head{
			@include flexbox (row, space-between, center, unset);
	    	padding: 1rem 0 0 0;
	    	h2{
	    		margin: 0.5rem;
	    	}

		}
		&__menu{
			@include flexbox (row, space-between, unset, wrap);
			padding: 0;
			margin: 0;
			width: 100%;
			}
		&__btn
		{
			@include flexbox (unset, center, unset, unset);
			margin: 1rem 0 0 0;
			width: 100%;
		}
	}

	.menu{
		@include tablet{
			width: calc(100% / 3);
		}
		@include flexbox(column, unset, unset, unset);
		width: 100%;
		padding: 0;
		margin: 0;

		&>h3{
				font-weight: 400;
    			border-bottom: 3px solid $color-tertiary;
    			width: 3rem;
    			margin: 1rem 0;
    	}


		&__card{
			@include flexbox (row, space-between, unset, unset);
			@include layout-cards;
			@include text-overflow;
			@include tablet{
				margin: 0.5rem 1rem;
				width: calc(100% - 2rem);
			}
	    	margin: 0.5rem 0;
			padding: 0.5rem;
			font-size: 1rem;
	    	cursor: pointer;
	    	width: calc(100% - 1rem);
	    	transition-duration: 300ms;
				&:hover>.select{
					    transition-duration: .5s;
	   					margin: -1rem -1rem -1rem 0rem;
	   					&>i{
	   						    transform: rotate(0deg);
	    						transition-duration: .7s;
	   					}
				}
			}
	}

			.select{
	   		@include flexbox (row, center, center, unset);
	    	background-color: $color-tertiary;
	    	margin: -1rem -5rem -1rem -1rem;
	    	width: 4rem;
	    	transition-duration: .5s;
			
						&__icon{
	    						color: $color-tertiary;
	    						border-radius: 100%;
	    						background-color: $color-white;
	    						padding: 0.2rem;
	    						transform: rotate(360deg);
	    						transition-duration: .7s;	
							}
			}


	.card{
		@include flexbox(row, space-between, center, nowrap);
		width: 100%;
		font-size: 1rem;
	    text-overflow: ellipsis;
	    overflow: hidden;

		&__info{
			@include text-overflow;
				&>h4{
					@include text-overflow;
					margin: 0;

				}
				&>p{
					@include text-overflow;
					margin: 0;
				}
		}
		&__price{
			@include flexbox (row, unset, flex-end, unset);
			margin-right: 0.5rem;
		}
	}



/*-------animations apparitions des menus-------*/

.entrees
{
    animation: apparition 2s;
}
.plats
{
    animation: apparition 3s;
}
.desserts
{
    animation: apparition 4s;
}
@keyframes apparition
{
    0%
    {
        opacity: 0;
        transform: scale(0);
    }
    50%
    {
        opacity: 1;
        transform: scale(105%);
    }
    100%
    {
        transform: scale(100%);
    }
}