.form {
  @include flexbox(row, space-between, center, wrap);
  width: 80%;
  margin: 0 auto;
  padding: 0;

  &__container {
    @include flexbox(column, center, center, nowrap);
    padding: 0.5rem;
    border: 0;
    margin: 1rem auto 3rem auto;
  }
  &__title {
    padding: 0.5rem;
    margin: 1rem auto 2rem auto;
  }

  .input {
    @include flexbox(row, center, center, nowrap);
    label {
      @include flexbox(row, center, center, wrap);
      margin: 0.5rem;
      font-size: 1.7rem;
    }
    input {
      margin: 1rem;
      padding: 0.5rem;
      width: 15rem;
    }
    input:focus,
    input:active,
    input:hover {
      border-color: #926ced;
    }
    #adress {
      min-width: 30rem;
    }
  }
  .first--name {
    width: calc(100% / 3);
  }
  .last--name {
    width: calc(100% / 3);
  }
  .mail {
    width: calc(100% / 3);
  }
  .city {
    width: calc(40% - 2rem);
  }

  .submit-btn {
    width: 100%;
    text-align: center;
  }
  #form-submit {
    @include layout-cards;
    font-size: 1.3rem;
    padding: 0.5rem;
    margin-top: 1rem;
  }
}
