.form {
  @include mobile-only {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  @include flexbox(row, space-between, center, wrap);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  &__container {
    @include flexbox(column, center, center, nowrap);
    padding: 0.5rem;
    border: 0;
    margin: 1rem auto 3rem auto;
  }
  &__title {
    padding: 0.5rem;
    margin: 1rem auto 2rem auto;
  }

  .input {
    @include flexbox(row, center, center, nowrap);
    label {
      @include flexbox(row, center, center, wrap);
      margin: 0.5rem;
      font-size: 1.7rem;
    }
    input {
      margin: 1rem;
      padding: 0.5rem;
    }
    input:focus,
    input:active,
    input:hover {
      border-color: #926ced;
    }
  }

  .submit-btn {
    width: 100%;
    text-align: center;
  }
  .send {
    &-btn {
      &:hover {
        color: $color-tertiary;
        background-color: lighten($color-primary, 20%);
      }
      @include layout-cards;
      font-family: "Shrikhand";
      font-size: 1.5rem;
      background-color: $color-primary;
      color: $color-secondary;
      min-width: 50%;
      padding: 0.5rem;
      margin: 0.5rem;
    }
  }
}
