// PADDINGS
$padding-feature-restau: (top: 2rem, right: 1rem, bot: 1rem, left: 1rem);
$padding-desktop: 2rem;
$padding-layout: 1rem;

// RESPONSIVE
$breakpoints: (tablet:760px, desktop:1200px);

// VARIABLES COULEURS
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;

$dark-grey: lighten(black, 20%);
$mid-grey: lighten(black, 90%);
$light-grey: lighten(black, 95%);

// VARIABLES LAYOUT CARDS
$border-radius-card: 1rem;
$border-radius-menu: 3rem 3rem 0 0;






